<div
  class="bg-gray-800 p-6 rounded-lg shadow-md max-w-md mx-auto text-gray-200 mt-8 max-h-[80vh] overflow-y-auto"
>
  <h2 class="text-2xl font-bold text-gray-100 mb-6">Create Comment</h2>
  <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
     <!-- Author -->
    <div class="mb-4">
      <label for="author" class="block text-gray-300 text-sm font-bold mb-2"
        >Author:</label
      >
      <input
        id="author"
        type="text"
        formControlName="author"
        class="shadow appearance-none border border-gray-600 bg-gray-900 rounded w-full py-2 px-3 text-gray-200 leading-tight focus:outline-none focus:shadow-outline focus:ring-2 focus:ring-gray-500"
      />
      @if (commentForm.get('author')?.touched && commentForm.get('author')?.hasError('required')) {
          <div class="text-red-500 text-sm mt-1">Author is required</div>
      }
    </div>

    <!-- Content -->
    <div class="mb-4">
      <label for="content" class="block text-gray-300 text-sm font-bold mb-2"
        >Content:</label
      >
      <textarea
        id="content"
        formControlName="content"
        class="shadow appearance-none border border-gray-600 bg-gray-900 rounded w-full py-2 px-3 text-gray-200 leading-tight focus:outline-none focus:shadow-outline focus:ring-2 focus:ring-gray-500 h-32"
      ></textarea>
      @if (commentForm.get('content')?.touched && commentForm.get('content')?.hasError('required')) {
          <div class="text-red-500 text-sm mt-1">Content is required</div>
      }
    </div>

    <!-- Buttons -->
    <div class="flex justify-between mt-6">
      <!-- Submit Button -->
      <button
        type="submit"
        class="bg-gray-900 hover:bg-gray-800 text-gray-200 font-bold py-2 px-4 rounded focus:outline-none focus:ring-2 focus:ring-gray-500 disabled:opacity-50"
        [disabled]="!commentForm.valid"
      >
        Submit
      </button>

      <!-- Cancel Button -->
      <button
        type="button"
        (click)="OnCancel()"
        class="bg-gray-900 hover:bg-gray-800 text-gray-200 font-bold py-2 px-4 rounded focus:outline-none focus:ring-2 focus:ring-gray-500"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
