<div class="bg-gray-700 p-6 rounded-lg shadow-lg hover:shadow-2xl transition-shadow duration-300">
  <p class="text-gray-400 text-sm mb-4">
    By <span class="font-semibold text-gray-200">{{ comment.author }}</span> on
    {{ comment.createAt | date: 'dd/MM/yyyy' }}
  </p>
  <div class="mb-4">
    <p class="text-gray-300">
      <span class="font-semibold text-gray-200">Updated at:</span> {{ comment.updateAt | date: 'dd/MM/yyyy' }}
    </p>
  </div>
  <p class="text-gray-300 text-base mb-6">
    {{ comment.content | slice: 0 : 150 }}...
  </p>
  <div class="mt-4 flex justify-between items-center">
    <div class="flex space-x-3 ml-4">
      <!--Edit Button-->
      <!-- <button (click)="onEdit(comment)" class="bg-gray-800 hover:bg-gray-700 text-white text-sm font-semibold py-2 px-4 rounded-md transition duration-200">
        Edit
      </button> -->

      <!--Delete Button-->
      <!-- <button (click)="onDelete(comment)" class="bg-gray-800 hover:bg-gray-700 text-white text-sm font-semibold py-2 px-4 rounded-md transition duration-200">
        Review
      </button> -->
    </div>
  </div>
</div>
