<div class="bg-gray-800 p-6 rounded-lg shadow-md max-w-md mx-auto text-gray-200 mt-8 max-h-[80vh] overflow-y-auto">
  <h2 class="text-2xl font-bold text-gray-100 mb-6">Review Post</h2>

  <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
    <!-- Select Action -->
    <div class="mb-6">
      <label class="block text-gray-300 text-sm font-bold mb-2">Action:</label>
      <div class="flex gap-4">
        <label class="inline-flex items-center">
          <input
            type="radio"
            formControlName="action"
            value="approve"
            class="form-radio text-green-500 focus:ring-green-500"
          />
          <span class="ml-2 text-gray-200">Approve</span>
        </label>
        <label class="inline-flex items-center">
          <input
            type="radio"
            formControlName="action"
            value="reject"
            class="form-radio text-red-500 focus:ring-red-500"
          />
          <span class="ml-2 text-gray-200">Reject</span>
        </label>
      </div>
    </div>

  @if (reviewForm.get('action')?.value === 'reject'){
    <!-- Comment -->
    <div
      class="mb-4"
    >
      <label for="comment" class="block text-gray-300 text-sm font-bold mb-2">
        Comment:
      </label>
      <textarea
        id="comment"
        formControlName="comment"
        class="shadow appearance-none border border-gray-600 bg-gray-900 rounded w-full py-2 px-3 text-gray-200 leading-tight focus:outline-none focus:ring-2 focus:ring-gray-500 h-32"
      ></textarea>
      @if (reviewForm.get('comment')?.touched && reviewForm.get('comment')?.hasError('required')) {
          <div class="text-red-500 text-sm mt-1">Comment is required</div>
      }
    </div>
  }

    <!-- Buttons -->
    <div class="flex justify-end mt-6">
      @if (reviewForm.get('action')?.value === 'approve'){
        <button
          type="submit"
          class="bg-green-600 hover:bg-green-500 text-gray-200 font-bold py-2 px-4 rounded focus:outline-none focus:ring-2 focus:ring-green-500 mr-2"
        >
          Approve
        </button>
      }
      @if (reviewForm.get('action')?.value === 'reject'){
      <button
        type="submit"
        class="bg-red-600 hover:bg-red-500 text-gray-200 font-bold py-2 px-4 rounded focus:outline-none focus:ring-2 focus:ring-red-500 mr-2"
        [disabled]="!reviewForm.valid"
      >
        Reject
      </button>
      }
      <button
        type="button"
        (click)="onCancel()"
        class="bg-gray-900 hover:bg-gray-800 text-gray-200 font-bold py-2 px-4 rounded focus:outline-none focus:ring-2 focus:ring-gray-500"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
