<div
  class="bg-gray-800 p-6 rounded-lg shadow-md max-w-md mx-auto text-gray-200 mt-8 max-h-[80vh] overflow-y-auto"
>
  <h2 class="text-2xl font-bold text-gray-100 mb-6">Create Post</h2>
  <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <!-- Title -->
    <div class="mb-4">
      <label for="title" class="block text-gray-300 text-sm font-bold mb-2"
        >Title:</label
      >
      <input
        id="title"
        type="text"
        formControlName="title"
        class="shadow appearance-none border border-gray-600 bg-gray-900 rounded w-full py-2 px-3 text-gray-200 leading-tight focus:outline-none focus:shadow-outline focus:ring-2 focus:ring-gray-500"
      />
      @if (postForm.get('title')?.touched && postForm.get('title')?.hasError('required')) {
          <div class="text-red-500 text-sm mt-1">Title is required</div>
      }
    </div>

    <!-- Content -->
    <div class="mb-4">
      <label for="content" class="block text-gray-300 text-sm font-bold mb-2"
        >Content:</label
      >
      <textarea
        id="content"
        formControlName="content"
        class="shadow appearance-none border border-gray-600 bg-gray-900 rounded w-full py-2 px-3 text-gray-200 leading-tight focus:outline-none focus:shadow-outline focus:ring-2 focus:ring-gray-500 h-32"
      ></textarea>
      @if (postForm.get('content')?.touched && postForm.get('content')?.hasError('required')) {
          <div class="text-red-500 text-sm mt-1">Content is required</div>
      }
    </div>

    <!-- Author -->
    <div class="mb-4">
      <label for="author" class="block text-gray-300 text-sm font-bold mb-2"
        >Author:</label
      >
      <input
        id="author"
        type="text"
        formControlName="author"
        class="shadow appearance-none border border-gray-600 bg-gray-900 rounded w-full py-2 px-3 text-gray-200 leading-tight focus:outline-none focus:shadow-outline focus:ring-2 focus:ring-gray-500"
      />
      @if (postForm.get('author')?.touched && postForm.get('author')?.hasError('required')) {
          <div class="text-red-500 text-sm mt-1">Author is required</div>
      }
    </div>

    <div class="mb-4">
      <label for="status" class="block text-gray-300 text-sm font-bold mb-2">Status:</label>
      <select
        id="status"
        formControlName="status"
        class="shadow appearance-none border border-gray-600 bg-gray-900 rounded w-full py-2 px-3 text-gray-200 leading-tight focus:outline-none focus:shadow-outline focus:ring-2 focus:ring-gray-500"
      >
        <option value="DRAFT" class="text-center">Draft</option>
        <option value="PENDING" class="text-center">Pending</option>
      </select>
      @if (postForm.get('status')?.touched && postForm.get('status')?.hasError('required')) {
          <div class="text-red-500 text-sm mt-1">Status is required</div>
      }
    </div>

    <!-- Buttons -->
    <div class="flex justify-between mt-6">
      <!-- Submit Button -->
      <button
        type="submit"
        class="bg-gray-900 hover:bg-gray-800 text-gray-200 font-bold py-2 px-4 rounded focus:outline-none focus:ring-2 focus:ring-gray-500 disabled:opacity-50"
        [disabled]="!postForm.valid"
      >
        Submit
      </button>

      <!-- Cancel Button -->
      <button
        type="button"
        (click)="onCancel()"
        class="bg-gray-900 hover:bg-gray-800 text-gray-200 font-bold py-2 px-4 rounded focus:outline-none focus:ring-2 focus:ring-gray-500"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
